@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.navbar {
  background: #52c234;

  background: -webkit-linear-gradient(to right, #061700, #52c234);

  background: linear-gradient(to right, #061700, #52c234);
}
.bg-theme {
  background: #11998e;
  background: -webkit-linear-gradient(to right, #9dddb5, #96e0da);
  background: linear-gradient(to right, #a6fac6, #8edfd8);
}

.h-700 {
  height: 700px;
}
.hell {
  font-size: 40px !important;
}
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
  color: white;
  font-size: 3.5rem;
}
.navbar {
  padding-bottom: 20px;
}

.navbar a {
  font-size: 26px;
  color: #fff !important;
  font-family: "Roboto", sans-serif;
}
.slick-dots {
  width: 77% !important;
}

.slick-dots li button:before {
  font-size: 17px !important;
  color: #0d3003 !important;
  margin-bottom: 10px;
}

.cards {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.navbar .navbarDropdown {
  text-decoration: none;
}

.one {
  border: 1px solid rgb(87, 87, 87);
  /* margin-left: 30%; */
  margin-top: 10%;
  padding: 30px;
  /* width: 500px !important; */
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 12px;
}
.one-log {
  border: 1px solid rgb(87, 87, 87);
  margin-left: 30%;
  margin-top: 10%;
  padding: 30px;
  /* width: 500px !important; */
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 12px;
}
.btn-checkout {
  background-color: #0d3003;
  text-align: center;
}

.navbar img {
  width: 100px;
  height: 80px;
}

.image img {
  width: 200px;
  height: 200px;
  margin-left: 35px;
  margin-top: 10px;
}

.image img:hover {
  scale: 1.1;
}

.slick-slide img {
  width: 85%;
  height: 80vh;
}

.slick-track {
  height: 80vh !important;
  width: fit-content;
}

.slick-slider {
  padding-top: 20px;
  left: 07%;
}

.navbar a:hover {
  color: yellow !important;
  border-bottom: 2px solid yellow !important;
}

.MuiBox-root.css-s0w8ce {
  padding: 0;
}

.mediacardimg {
  width: 200px;
  object-fit: contain;
}

img.MuiCardMedia-root.MuiCardMedia-media.MuiCardMedia-img.mediacardimg.css-1rorjgf-MuiCardMedia-root {
  width: 262px;
  object-fit: contain;
}

.MuiBox-root.css-184i2el {
  border: 2px solid #0d3003;
  border-radius: 25px;
}

.hov:hover {
  background-color: green !important;
  color: white !important;
}

.icons {
  font-size: 50px;
  color: #fff;
  margin-right: 30px;
}

.dropdown .btn {
  line-height: 1.8 !important;
  color: #fff;
  font-size: 26px !important;
  border: none !important;
}
.css-1oqv2c0-MuiPaper-root-MuiCard-root {
  border-radius: 25px !important;
}

.dropdown a {
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif !important;
}

.dropdown-menu {
  padding: 10px;
  left: 05% !important;
  top: 60px !important;
  width: 250px;
}
.load svg {
  position: absolute;
  left: 40%;
  top: 50%;
}
.center-border {
  text-align: center;
}
.center-border .hello {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}
.center-border .hello:hover {
  background-color: #0d3003;
  color: #fff;
}
.del-icons {
  display: flex;
  font-size: 40px;
  color: #ff0000;
}
.del-icons:hover {
  background-color: #ff0000;
  color: #fff;
  border-radius: 10px;
}
.plus-minus {
  /* border: 1px solid #0d3003; */
  margin: 10px;
}
.plus-minus:hover {
  background-color: #0d3003;
  color: #fff;
}
.image-drawer {
  width: 50px;
  margin-top: 20px;
}
@media (max-width: 992px) {
  form#basic {
    width: 90% !important;
    margin-left: 40px;
  }
  .one-log {
    width: 80%;
  }
  .MuiBox-root.css-130f8nx {
    display: block !important;
  }
}
.btn-log {
  background: #11998e;
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
  background: linear-gradient(to right, #38ef7d, #11998e);

  color: #fff !important;
}
